{% extends 'layout.html' %}
{% block content %}
<h1>Register</h1>
<h4>Enter Student Information below</h4>
<!--Form to request user's name-->

    <form action="/studentdetails" method="POST" method = 'GET'>
        <label for = "studentName">Enter name:</label> 
        <input type = "text" name = "studentName" id = "studentName">
        <label for = "select">Enter organisation: </label>
        <select id="select">

            <option value = "a club">a club</option>
            <option value = "b club">b club</option>
            <option value = "c club">c club</option>
            <option value = "d club">d club</option>
            <option value = "e club">e club</option>


        </select>
        <input type = "submit" value = "Register">



    </form>






{% endblock %}
 